#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #a4a4a4;
}

tr.normal {
  background-color: #66a766;
}

tr.warning {
  background-color: #e09d40;
}

tr.critical {
  background-color: #dd5f4e;
}
